
.main-content{
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.airline-review-table .airline-table{
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.airline-review-table .airline-table th, .airline-review-table .airline-table td{
    padding: 12px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

.airline-review-table .airline-table th{
    background-color: #003f75;
    color: white;
    font-size: 16px;
}

.airline-review-table .airline-table td{
    font-size: 14px;
}

.status-pending{
    background-color: #f39c12;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
}

.status-approved{
    background-color: #2ecc71;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
}

.status-rejected{
    background-color: #e74c3c;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
}

/* Action Buttons for approving and rejecting */
.airline-review-table .airline-table button{
    padding: 6px 12px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin: 5px;
    font-size: 14px;
}


.approve-btn{
    background-color: #2ecc71;
    color: white;
}

.reject-btn{
    background-color: #e74c3c;
    color: white;
}

.airline-review-table .airline-table button:hover{
    opacity: 0.8;
}

/* .airline-review-table{
    display: none;
}

.show-requests{
    display: block;
} */